.navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 77, 82, 0.9);
    backdrop-filter: blur(15px);
    top: 0px;
    z-index: +1;
}

.navbarp{
    width: 80px;
    padding: 1px;
}


.card{
    width: 1000px;
    height: 400px;
    background-color: rgba(25, 25, 25, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
    margin: 212px 210px 213px 210px;
    border: 2px solid white;
}

.shape1{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #2d9da4,#6ce3c5);
    position: absolute;
    top: 70px;
    left: 50px;
    filter: blur(70px);
    
}

.shape2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #6ce3c5,#2d9da4);
    position: absolute;
    bottom: 100px;
    right: 50px;
    filter: blur(50px);
}

.shape3{
    background-color: #ffec70;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: 250px;
    filter: blur(60px);
}

.shape4{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6ce3c5;
    position: absolute;
    top: 80px;
    left: 350px;
    filter: blur(70px);
    
}

.shape5{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6ce3c5;
    position: absolute;
    top: 520px;
    left: 150px;
    filter: blur(80px);
    
}

.shape6{
    background-color: #ffec70;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: 100px;
    filter: blur(60px);
}

body{
    margin: 0px;
    background-color: #07646b ;
}

b{color: #ffec70;}
span{
    color: white;
}

h1{
    padding: 30px 30px 0px 190px;
    font-size: 8em;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0px;
    color: #6ce3c5;
}

h3{
    padding: 10px 30px 0px 50px;
    font-size: 2.7em;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0px;
    color: white;
}

.first{
    width: 500px;
    position: absolute;
    right: 70px;
    top: 130px;
}



.about{
    width: 100%;
    height: 1500px;
    background-color: rgba(255,255,255);
    backdrop-filter: blur(15px);
    border-radius: 40px;
    margin: 0px;
    /* position: absolute;
    top: 825px; */
    box-shadow: 0px -3px 9px rgba(0,0,0,0.4);
}

h2{
    margin: 10px;
    padding-top: 100px;
    font-family: 'Montserrat';
    font-size: 3.5em;
    color: #20696f;
} 

button{
    font-size: 20px;
    font-family: 'Montserrat';
    padding: 15px 40px 15px 40px;
    background-color: #318189;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 45px;
    transition: 0.3s all;
}

button:hover{
    background-color: #2d9da4;
}

.fp{
    position: absolute;
    margin-left: 200px;
    margin-top: 130px;
}

.sp{
    position: absolute;
    margin-left: 700px;
    margin-top: 550px;
}

.tp{
    position: absolute;
    margin-left: 200px;
    margin-top: 940px;
}

p{
    width: 40%;
    font-size: 1.4em;
    font-family: 'Montserrat';
    color:#2d9da4;
}

.second{
    width: 500px;
    position: absolute;
    bottom: 500px;
    left: 70px;
}

.third{
    width: 500px;
    position: absolute;
    right: 70px;
    bottom: 100px;
}

.teams{
    width: 1440px;
    height: 1200px;
    background-color: rgba(230, 254, 255);
    border-radius: 40px;
    
}

.raihan{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin-left: 310px;
    float: left;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);

}
.aritra{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin-right: 310px;
    float: right;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
.me{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin-left: 310px;
    float: left;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.sayak{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin-right: 310px;
    float: right;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.bottom{
    height: 200px;
    background-color: #20696f;
    width: 100%;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}





.svg1 {
    filter: drop-shadow(3px 6px 5px rgb(0 0 0 / 0.4));
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 1s;
    z-index: -1;
}

.svg2 {
    filter: drop-shadow(3px 6px 5px rgb(0 0 0 / 0.4));
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation: move2 2s;
    
}

.svg3 {
    filter: drop-shadow(3px 6px 5px rgb(0 0 0 / 0.4));
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation: move3 2.5s;
    
}
@keyframes move2{
  0%{top: -350px;}
  10%{top: -350px;}
  100%{top: 0px;}
}
@keyframes move3{
  0%{top: -400px;}
  10%{top: -400px;}
  100%{top: 0px;}
}
@keyframes move{
  
  0%{top: -325px;}
  100%{top: 0px;}
}

h5{
   margin: 0px;
   padding: 90px 680px ;
   color: white;
   font-family: 'Montserrat';
   font-size: 1.2em;
}